<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a class="brand-image" href="{{ HOME_PATH }}"><img class="brand-image" src="{{ASSET_PATH}}/logos/NWU l we-Deliver RGB.jpg"/></a></li>
				<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/stakeholders">Stakeholders</a></li>
				<li><a href="/timeline">Timeline</a></li>
	        	   	<li><a href="/blog">Blog</a></li>
				<li><a href="/conduct">Code of Conduct</a></li>
	        	   	<li><a href="/contact">Contact us</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:vera.roos@nwu.ac.za">email</a></li>
	        		<li><a href="https://github.com/we-DELIVER/">github.com/we-DELIVER</a></li>
				</ul>
			</footer>
		</body>
	</html>
